@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
  background: white;
  color: black;
  font-family: 'Cairo', Arial, sans-serif;
  direction: rtl;
}
